// components/_header.sass

@import '../reference/reference';

$block: 'sc-header';

.#{$block} {
	padding: 30px 50px;
	&__logo-wrapper {
		display: inline-block;
		margin-top: 8px;
		img {
			width: 291px;
			height: 168px;
			display: block;
		}
	}

	&__navigation {
		display: inline-block;
		float: right;
		font-size: 24px;
		line-height: $line-height-heading;
		font-weight: $font-weight-light;
		font-family: $font-family-heading;

		&__mainlist {
			margin: 0;
			padding-left:0;
			padding-top: 70px;
		}
		&__item {
			list-style: none;
			display: inline-block;
			position: relative;
			@include transition(background .2s ease-in);

			&:hover {
				background-color: $sc-grey-delta;
				a {
					color: $white;
				}
			}

			.sc-header__navigation__sublist {
				visibility: hidden;
				opacity: 0;
				@include transition(all, .3s ease-in);
			}
			&:hover .sc-header__navigation__sublist{
				opacity: 1;
				visibility: visible;
				background: $sc-grey-delta;
			}
		}
		&__link {
			@include transition(color .2s ease-in);
			display: inline-block;
			padding: 0;
			margin: 10px 20px;
			text-decoration: none;
			text-transform: uppercase;
			color: $sc-grey-bravo;
		}
		.is-checked {
			color: $sc-grey-delta;
			position: relative;
			&:before {
				position: absolute;
				content:'';
				background-color: $sc-grey-delta;
				width: 100%;
				height: 2px;
				left:0;
				bottom: -8px;
			}
		}
		
		&__sublist {
			position: absolute;
			left: 0;
			margin: 0;
			padding-left: 0;
			&::before {
				content: '';
				background: $grey-gamma;
				position: absolute;
				top:-1px;
				left:0;
				width: 120px;
				height: .5px;
			}
			li {
				list-style: none;
				a {
					@include transition(color .2s ease-in);

					display: inline-block;
					padding: 10px 20px;
					width: 200px;
					text-decoration: none;
					text-transform: uppercase;
					color: $white;
					&:hover {
						background: $sc-grey-bravo;
					}

				}
			}
		}

	}
}
