// individual-work

@import '../reference/reference';


$block: 'sc-work-individual';

.#{$block} {
	position: relative;
	border-top: 1px solid $sc-grey-gamma;
	border-bottom: 1px solid $sc-grey-gamma;
	&__wrapper {
		@include outer-container;
		padding: 60px 0;
	}
	&__title {
		text-align: center;
		color: $sc-grey-i;
		h2 {
			font-weight: $font-weight-light;
			font-size: 64px;
			line-height: 1.2;
			margin: 0;
			letter-spacing: 2px;
			@include media($mobile-08) {
				font-size: 48px;
			}
			@include media($mobile-07) {
				font-size: 36px;
			}
		}
		p {
			font-size: 24px;
			font-weight: 100;
			letter-spacing: 1px;
			text-transform: uppercase;
			@include media($mobile-08) {
				font-size: 18px;
			}
			@include media($mobile-07) {
				font-size: 16px;
			}
		}
		span {
			font-size: 18px;
			display: inline-block;
			position: relative;
			top: -2px;
			@include media($mobile-08) {
				font-size: 14px;
				top: -1px;
			}
			@include media($mobile-07) {
				font-size: 12px;
			}
		}
	}
	&__gallery {
		margin:0;
		padding:0;
		margin: 60px 0;
	}
	&__item {
		list-style-type: none;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	&__button {
		text-align: center;
		button {
			margin: 0 30px;
		}
		.view-more {
			@include primary-button($sc-grey-i, $white);
			@include media($mobile-14) {
				margin-bottom: 30px;
			}
		}
		.back {
			@include primary-button-a($sc-grey-i);
		}
	}
	.sc-work-modal {
		img {
			width: 10%;
		}
	}
}