// landing-middle;

@import '../reference/reference';

$block: 'sc-landing__middle';

.#{$block} {
	padding: 80px;
	@include media($mobile-10){
		padding: 80px 20px;
	}
	clear: both;
	&__wrapper {
		max-width: 820px;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		color: $sc-grey-i;
		font-size: $font-title-small;
		font-weight: $font-weight-light;
		@include media($mobile-10){
			font-size: 28px;
		}
	}
	&__description {
		line-height: $line-height-body;
		font-size: $font-size-large;
		font-weight: $font-weight-light;
		color: $sc-grey-bravo;
		@include media($mobile-10){
			font-size: 16px;
		}
		
	}
	&__center {
		text-align: left;
	}
	&__button {
		text-align: center;
		margin:0;
		position: relative;
		bottom: 50px;
	}
}
