// about-team

@import '../reference/reference';

$block: 'sc-team';

.#{$block} {
	border-top: 1px solid $sc-grey-gamma;
	border-bottom: 1px solid $sc-grey-gamma;
	&__wrapper {
		@include outer-container;
	}
	&__title {
		font-size: 64px;
		text-align: center;
		color: $sc-grey-i;
		font-weight: $font-weight-light;
		letter-spacing: 5px;
		margin-top: 60px;
		margin-bottom: 50px;
		@include media($mobile-13) {
			font-size: 48px;
		}
	}
	&__stacey {
		margin-bottom: 60px;
		@include media($mobile-03){
			margin-bottom: 40px;
		}
		h3 {
			font-size: 36px;
			font-weight: $font-weight-light;
			color: $sc-grey-i;
			letter-spacing: 2px;
			margin-top: 0;
			margin-bottom: 25px;
			@include media($mobile-13) {
				font-size: 28px;
			}
		}
		&__img {
			width: 70%;
			float: left;
			@include media($mobile-02) {
				width: 100%;
				float: none;
			}
			img {
				width: 95%;
				@include media($mobile-02) {
					width: 100%;
				}
			}
		}
		&__description {
			width: 30%;
			float: left;
			margin: 0;
			padding-right: 20px;
			@include media($mobile-02) {
				width: 100%;
				float: none;
				padding: 30px 40px;
			}
			p {
				line-height: $line-height-body;
				color:$sc-grey-bravo;
				font-size: 18px;
				@include media($mobile-01) {
					font-size: 16px;
					line-height: $line-height-body;
				}
			}
		}
	}
	&__lidija {
		width: 49%;
		float: left;
		margin-right: 2%;
		margin-bottom: 40px;
		@include media($mobile-03){
			width: 100%;
			float: none;
			margin-left: 0;
		}
		img {
			width: 100%
		}
		h3 {
			font-size: 36px;
			font-weight: $font-weight-light;
			color: $sc-grey-i;
			letter-spacing: 2px;
			margin: 15px 0;
			@include media($mobile-13) {
				font-size: 28px;

			}
			@include media($mobile-03) {
				padding: 0 40px;
				padding-top: 20px;
				
			}
		}
		p {
			line-height: $line-height-body;
			color:$sc-grey-bravo;
			font-size: 18px;
			@include media($mobile-01) {
				font-size: 16px;
				line-height: $line-height-body;
			}
			@include media($mobile-03) {
				padding: 30px 40px;
			}
			@include media($mobile-13) {
				margin-top: 0;
				padding-top: 15px;
			}
		}
	}
	&__chantal {
		width: 49%;
		float: left;
		margin: 0;
		margin-bottom: 40px;
		@include media($mobile-03){
			width: 100%;
			float: none;
			margin-left: 0;
		}
		img {
			width: 100%
		}
		h3 {
			font-size: 36px;
			font-weight: $font-weight-light;
			color: $sc-grey-i;
			letter-spacing: 2px;
			margin: 15px 0;
			@include media($mobile-13) {
				font-size: 28px;
			}
			@include media($mobile-03) {
				padding: 0 40px;
				padding-top: 20px;
			}
		}
		p {
			line-height: $line-height-body;
			color:$sc-grey-bravo;
			font-size: 18px;
			@include media($mobile-01) {
				font-size: 16px;
				line-height: $line-height-body;
			}
			@include media($mobile-03) {
				padding: 30px 40px;
			}
			@include media($mobile-13) {
				margin-top: 0;
				padding-top: 15px;

			}
		}
	}

}