// landing-video

@import '../reference/reference';
@import '../vendor/bourbon/bourbon';
@import '../vendor/neat/neat';

$block: 'sc-video';

.#{$block} {
	margin-top: 40px;
	margin-bottom: 40px;
	@include outer-container;
	&__list {
		margin-top:0;
		padding-left:0;
		@include fill-parent();
		
	}
	&__item {
		list-style-type: none;
		@include span-columns(4);
		@include pad();
		width: 33.33%;
		margin-right:0;
		padding: 20px;
		@include media($mobile-03) {
			@include span-columns(12);
			width: 100%;
		}
		text-align: center;
		p {
			margin:0;
			text-align: left;
			width: 65%;
			color: $white;
			font-size: 18px;
			line-height: $line-height-heading;
			font-family: $font-family-heading;
			font-weight: 300;
			text-transform: uppercase;
		}
		button {
			@include primary-button($white, $sc-grey-i);
			margin-top: 60px;
			font-size: 16px;
			padding-bottom: 12px;
			@include media($mobile-03) {
				margin-top: 120px;
				margin-bottom: 30px;
			}
		}
	}
	.video-1 {
		background-image: url('../../images/video-bg-01.jpg');
		background-size: cover;
		background-color: $sc-grey-50;
		background-blend-mode: darken;
	}
	.video-2 {
		background-image: url('../../images/video-bg-02.jpg');
		background-size: cover;
		background-color: $sc-grey-50;
		background-blend-mode: darken;
	}
	.video-3 {
		background-image: url('../../images/video-bg-03.jpg');
		background-size: cover;
		background-color: $sc-grey-50;
		background-blend-mode: darken;
	}
}
