// components/_work-landing.sass

@import '../reference/reference';

$block: 'sc-work-landing';

.#{$block} {
	&__list {
		margin:0;
		padding:0;
		width: 100%;

	}
	&__item {
		width: 33%;
		float: left;
		list-style-type: none;
		margin-right: .5%;
		position: relative;
	}
	.sc-work-landing__item:last-child {
		margin-right: 0;
	}
	&__img-wrapper {
		img {
			width: 100%;
			display: block;
		}
	}
	&__overlay {
		background-color: $sc-grey-20;
		position: absolute;
		top:0;
		bottom: 0;
		left:0;
		right:0;
		a {
			display: block;
			margin-top: 30%;
			text-align: center;
			background-color: rgba(255,255,255,.60);
			padding: 10px 15px;
			font-size: $font-title-small;
			color: $sc-grey-delta;
			text-decoration: none;
			font-family: $font-family-heading;
			font-weight: $font-weight-light;
			letter-spacing: 1px;
		}
	}
}
