//mixin-button


@mixin form-general {
	background: 0;
	border: 0;
	outline: 0;
}

@mixin primary-button ($color, $background) {
	@include form-general;
	@include transition(all, .2s ease-in);
	text-transform: uppercase;
	color: $color;
	font-weight: $font-weight-lighter;
	padding: 15px 30px;
	line-height: 1;
	letter-spacing: 1px;
	border: 1px solid $color;
	font-size: $font-size-larger;
	font-family: $font-family-heading;
	a {
		color: $color;
		text-decoration: none;
	}

	&:hover,
	&:visited,
	&:active {
		background-color: $color;
		color: $background;
		a {
			color: $background;
		}
	}
	@include media($mobile-11) {
	font-size: 18px;
	}
	@include media($mobile-12) {
	font-size: 16px;
	}
}

@mixin primary-button-a ($base, $hover: darken($base, 10%)) {
	@include form-general;
	@include transition(all, .2s ease-in);
	text-transform: uppercase;
	color: $white;
	font-weight: $font-weight-lighter;
	padding: 15px 30px;
	letter-spacing: 1px;
	line-height: 1;
	border: 1px solid $base;
	font-size: $font-size-larger;
	font-family: $font-family-heading;
	background: $base;
	a {
		color: $white;
		text-decoration: none;
	}

	&:hover,
	&:visited,
	&:active {
		background-color: $hover;
	}
	@include media($mobile-11) {
	font-size: 18px;
	}
	@include media($mobile-12) {
	font-size: 16px;
	}
}
