
@import 'reference/reference';
@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';

html {
	overflow-y: scroll;
	width: 100% !important;
}

body {
	font-family: $font-family-body;
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
	line-height: $line-height-body;
	width: 100% !important;

	h1,h2,h3,h4,h5 {
		font-family: $font-family-heading;
		line-height: $line-height-heading;
		text-transform: uppercase;
	}
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.newsletter {
	margin: 40px 0;
	@include outer-container;

}
