// reference/variables/_colors.scss

// Color
$white: #fff;
$black: #000;

$sc-grey-alfa: #413c43;
$sc-grey-bravo: #959a9e;
$sc-grey-charlie: #505356;
$sc-grey-delta: #2b2e34;
$sc-grey-epsilon: #5e5a58;
$sc-grey-foxtrot: #b8c1ca;
$sc-grey-gamma: #e5eaef;
$sc-grey-happy: #393d44;


//rgba of $sc-grey-bravo:

$sc-grey-80: rgba(43, 46, 52, .8);
$sc-grey-50: rgba(43, 46, 52, .5);
$sc-grey-20: rgba(43, 46, 52, .2);
