//media query variables

$mobile-01:new-breakpoint(max-width 1190px 12);
$mobile-02:new-breakpoint(max-width 960px 12);
$mobile-03:new-breakpoint(max-width 830px 12);
$mobile-04:new-breakpoint(max-width 650px 12);
$mobile-05:new-breakpoint(max-width 560px 12);
$mobile-06:new-breakpoint(max-width 420px 12);
$mobile-07:new-breakpoint(max-width 390px 12);
$mobile-08:new-breakpoint(max-width 525px 12);
$mobile-09:new-breakpoint(max-width 780px 12);
$mobile-10:new-breakpoint(max-width 450px 12);
$mobile-11:new-breakpoint(max-width 490px 12);
$mobile-12:new-breakpoint(max-width 365px 12);
$mobile-13:new-breakpoint(max-width 465px 12);
$mobile-14:new-breakpoint(max-width 575px 12);
$mobile-15:new-breakpoint(max-width 1100px 12);
$mobile-16:new-breakpoint(max-width 870px 12);











